.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 300px);
	grid-template-rows: repeat(2, 300px);
	background: no-repeat url(grid.png) #fff;;
	color: #444;
	width: 640px;
	margin: 2.5rem;
	font: 80% Arial, Helvetica, sans-serif;
}

.box {
	border: 1px solid #444;
	padding: 1em;
	font-size: 150%;	
	max-width: 120px;
	max-height: 70px;
}

.a {
	grid-column: 1;
	grid-row: 1;
	justify-self: center;
	align-self: center;
}

.b {
	grid-column: 2;
	grid-row: 1;
	justify-self: center;
	align-self: center;
}

.c {
	grid-column: 1;
	grid-row: 2;	
	justify-self: end;
}

.d {
	grid-column: 2;
	grid-row: 2;
	align-self: end;
}

