* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

body {
    background: #e6e6e6;
    color: #000;
}

/* HEADER */
header {
    background: #4caf50;
    display: block;
    justify-content: space-between;
    padding: 12px 24px;
    position: relative;
}
header a{
    padding: 4px;
}
header a:hover{
    filter: brightness(1.5);
}
.header-left img {
    border-radius: 4px;
    box-shadow: 1px 1px 4px #333333;
}
.header-actions a:hover img {
    filter: drop-shadow(0 0 5px #4caf50);
}
.header-right {
    position: absolute;
    right: 10px;
    top: 20px;
}
.header-actions ul {
    list-style: none;
}
.header-actions li {
    display: inline-block;
    padding: 10px;
}
.header-actions img {
    width: 24px;
}
img[src*="language_spanish"] {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
img[src*="language_spanish"]:hover {
    filter: brightness(0) invert(1);
}

/* NAV */
nav {
    background: #d3d3d3;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: right;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 5px 10px; 
    margin: 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #4CAF50;
}
nav a:hover {
    background-color: #43A047;
}

/* Buscador */
#buscador {
    background-image: url("./images/istockphoto-runner.jpg");
    background-size: cover;
    height: 400px;
    padding: 40px 20px;
}

#buscador form {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#buscador input {
    padding: 12px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 4px #333333;
}

#buscador button, .next, .prev {
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    background: #4caf50;
    font-weight: 600;
    box-shadow: 1px 1px 4px #333333;
    cursor: pointer;
}
#buscador button:hover{
    background-color: #BDBDBD;
}
#buscador input,
#buscador button {
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
}
#buscador input:focus{
    outline: solid #4caf50;
    background-color: #E8F5E9;
}

/* Títulos */
main h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2rem;
    display: block;
}

/* Próximas / CERCA */
#proximas {
    display: flex;
    justify-content: center;
}
#proximas .viewport ,
#cercaDeTi {
    padding: 32px 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.viewport {
    max-width: 90vw;
}
#proximas {
    background: #4caf50;
}

#cercaDeTi {
    background: #f5f5f5;
}

#proximas h2,
#cercaDeTi h2 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* Tarjetas */
#proximas .card{
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: 1%;
    padding: 12px;
    background: #ddd;
    border-radius: 12px;
    box-shadow: 1px 1px 4px #333333;
}
#proximas .card:hover {
    box-shadow: 2px 2px 8px 1px #F5F5F5;
    cursor: pointer;
}
#cercaDeTi .card:hover {
    box-shadow: 2px 2px 8px 1px #43A047;
    cursor: pointer;
}

#proximas img{
    width: 95%;
    aspect-ratio: 12 / 9;
    margin: 5px;
    box-shadow: 1px 1px 5px #4caf50;
    object-fit: cover; 
    border-radius: 10px;
}
#proximas .card h3 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
#proximas .card p {
    margin-top: 6px;
    font-size: 18px;
    text-align: center;
}
/* Carousel */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-viewport {
    overflow: hidden;
    max-width: 75vw;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease;
}
.carousel-track .card {
    flex: 0 0 250px;      /* ancho fijo y no se encoge */
    aspect-ratio: 1 / 1;  /* cuadrada */
    display: flex;
    flex-direction: column;
    margin: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #ddd;
    border-radius: 12px;
    box-shadow: 1px 1px 4px #333333;
}
.carousel-track .card img {
    width: 100%;
    height: auto;
    aspect-ratio: 12 / 9;
    object-fit: cover;
    border-radius: 12px;
}

/* Calendario */
#calendario,
#categoria,
#tematicas {
    width: 100%;
}
.viewport {
    max-width: 85%;
    margin: 0 auto;
}

#calendario {
    background: #d3d3d3;
    display: flex;
    justify-content: center;
}
#calendario .viewport {
    padding: 24px 16px;
    text-align: center;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

#calendario h2 {
    grid-column: 1 / 5;
    width: 100%;
    margin-bottom: 16px;
}

#calendario button {
    width: 90%;
    justify-self: center;
    margin: 6px 12px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #4caf50;
    background: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

/* Categoría */
#categoria {
    background: #4caf50;
    padding: 32px 24px;
    text-align: center;
    
}
#categoria .viewport{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

#categoria >.viewport button {
    margin: 6px 12px;
    background: #fff;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.3rem;
}

/* Temáticas */
#tematicas {
    background: #ddd;
    padding: 32px 24px;
    text-align: center;
}
#tematicas .viewport {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#tematicas >.viewport button {
    margin: 8px;
    background: #66bb6a;
    padding: 10px 14px;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.viewport > button:hover {
    box-shadow: 2px 2px 5px #333333;
    transform: scale(1.1);
    transition: transform 0.5s cubic-bezier(.22,.61,.36,1);
}
/* Footer */
footer {
    background: #BDBDBD;
    padding: 40px 24px;
    display: flex;
}
footer > div {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 2%;
}

footer .right-side {
    width: 28%;
    margin-left: 100px;
}

footer .right-side img {
    width: 90px;
}
footer .right-side img:hover {
    transform: scale(1.5);
    transition: transform 0.2s cubic-bezier(.22,.61,.36,1);
}

footer .address p {
    font-size: 14px;
    line-height: 1.2;
}

footer h4 {
    margin-bottom: 8px;
    font-size: 20px;
    text-shadow: 2px 2px 5px #2E7D32;
}

footer a {
    display: block;
    margin: 12px 0;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

footer a:hover {
    text-decoration: underline;
}

/* Interactividad */
#suggestions {
    transition: background-color 0.2s ease, color 0.2s ease;
}

#suggestions.inactivo {
    background-color: #BDBDBD;
    color: #000;
}

#suggestions.activo {
    background-color: #2E7D32;
    color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.buscador-wrapper {
    position: relative;
    width: 100%;
}

.resultados {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    max-height: 200px;
    overflow-y: auto;

    margin-top: 6px;
    z-index: 10;

    display: none; /* lo activaremos con JS */
}
.resultados ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.resultados li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.resultados li:hover {
    background-color: #E8F5E9;
}
/* Scroll reveal */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Amimación títulos   */
main h2 {
    animation: streetLightShadow 4s ease-in-out 5;
}
@keyframes streetLightShadow {
    0% {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    }
    20% {
        text-shadow: -3px 3px 6px rgba(0,0,0,0.5);
    }
    40% {
        text-shadow: 4px -2px 6px rgba(0,0,0,0.45);
    }
    60% {
        text-shadow: -2px -4px 8px rgba(0,0,0,0.5);
    }
    80% {
        text-shadow: 3px 1px 5px rgba(0,0,0,0.4);
    }
    100% {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    }
}



@media (max-width: 650px) {
    header {
        display: flex; 
        justify-content: space-between;
        gap: 10px;
    }

    .header-right {
        position: static; 
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    nav {
        text-align: center; 
        padding: 10px 0;
    }
    #buscador {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        padding-bottom: 15px;
    }
    #buscador form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items:flex-end;
        gap: 5px;
        width: 100%;
        margin-bottom: 0;
    }
    #buscador input {
        flex-shrink: 2;     
        min-width: 100px;    
        flex-grow: 1;      
    }

    #buscador button {
        flex-shrink: 1;      
        white-space: nowrap; 
        padding: 10px 12px;  
        margin: 6px 3px;
    }
    #proximas, #cercaDeTi {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #proximas .card{
        width: 90%; 
        height: auto; 
        min-height: 200px;
        margin: 15px 0;
    }
    .carousel {
        position: relative;
        width: 100%;
    }

    .prev,
    .next {
        display: none;
    }
    .carousel-viewport {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }

    .carousel-track {
        gap: 16px;
    }

    .carousel-track .card {
        scroll-snap-align: center;
    }

    #categoria, #tematicas, #calendario {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
    }
    #categoria div, #tematicas div, #calendario button {
        width: 100%; 
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    #categoria h2, #tematicas h2, #calendario h2 {
        grid-column: 1 / span 2;
    }
    footer {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    footer > div, footer .right-side {
        width: 45%;
        margin: 10px 0;
    }
}


