
.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 1em;
	font-size: 150%;	
}

.wrapper {
	display: grid;
	gap: 0.5em;
	grid-template-columns: repeat(2, 9rem 6rem);
	grid-template-rows: repeat(3, minmax(6rem, auto));
	grid-auto-flow: row;
	margin: 2.5rem;
}

.a {
	grid-column: 1 / span 2;
}
.b {
	grid-column: 4;
}
.c {
	grid-column: 1 / 2;
	grid-row: 2 / 4;
}
.d {
	grid-column: 3 / 4;
	grid-row: 3;
}
.e {
	grid-column: 2 / 5;
	grid-row: 2;
}
.f {
	grid-column: 4 / 5;
	grid-row: 3;
}