body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
header {
    display: inline-block;
    width: 100%;
    height: 7em;
    text-align: center;
    box-shadow: 3px 3px blue;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
h1 {
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
header, aside, main {
    border: 1px solid black;
    border-radius: 10px;
}
img {
    position: absolute;
    right: 5px;
    top: 25px;
    width: 50px;
}
aside {
    height: 50vh;
    width: 29%;
    float: left;
}
main {
    height: 50vh;
    width: 69%;
    float: right;
    margin-bottom: 10px;
}
footer {
    clear: both;
    width: 100%;
    border: 1px dotted blue;
    border-radius: 10px;
    height: 3.5rem;
    font-size: 12px;
    text-align: center;
}
footer p {
    margin-top: 1.2rem;
}
footer span:first-child {
    text-transform: uppercase;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer span:nth-child(2) {
    font-style: italic;
    color: green;

}
footer span:last-child {
    background-color: lightskyblue;
    color: blue;
    border-radius: 5px;
    box-shadow: 2px 2px blue;
    padding: 3px;
}