
/* 1.- Mixin para Flex */

main{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


/* Si usamos un mixin */
@mixin flexible( $dis , $direction , $corte , $just , $align ){
    display         : $dis;
    flex-flow       : $direction $corte;
    justify-content : $just;
    align-items     : $align;
}

// Uso 
main{
    @include flexible( flex , row , nowrap , center , center );
}

section{
    @include flexible( flex , column , nowrap , flex-start , flex-start );
}


/* 2.- Mixin para Grid */
main{
    display:grid;
    grid-template-columns: repeat( 4 , 1fr );
    gap:1em;
}

section{
    display:grid;
    grid-template-columns: repeat( 3 , 1fr );
    gap:2em;
}

/* creamos Mixin */
@mixin grid( $columnas , $espacio){
    display                 : grid;
    grid-template-columns   : repeat( $columnas , 1fr );
    gap                     : $espacio;

    // para el responsive 
    @media screen and (max-width:480px) {
        grid-template-columns : 1fr ;
        gap : 0em;
    }
}

// Uso. Ahorro de código con una sóla línea
main{
    @include grid( 4 , 1em );
}

section{
    @include grid( 3 , 2em );
}

/* 3.- Mixin para Responsive Design */
//Código que quiero
article{
    width:25%;
}

@media screen and (max-width:768px){
    article{ 
        width:50%;
    }
}
@media screen and (max-width:480px){
    article{ 
        width:100%;
    }
}

/* Así se hace con Mixins */

@mixin mv( $medida : 480px ){
    @media screen and (max-width: $medida ) {
        @content;
    }
}

article{
    width:25%;
    @include mv(768px){ width:50% }
    @include mv(){ width:100% }
}