/* Ejemplo sin Anidación */
@mixin flex( $dis ){
    display         : $dis;
}
/* Ejemplo SIN anidación */
header{
    color:black;
}
header h1{
    color:red;
}
header nav{
    @include flex(flex);
}


/* Ejemplo con anidación */
header{
    color:black;

    h1{
        color:red;
    }

    nav{
        @include flex(flex);
    }
}

/* Ejemplo sin Selector & ni Anidación */
a{ 
    color:black;
}
a:hover{
    color:red;
}
a:active{
    color:aqua;
}
a:visited{
    color:pink;
}

/* Ejemplo con Selector & y Anidación */
a{ 
    color:black;

    &:hover{ color:red; }
    &:active{ color:aqua; }
    &:visited{ color:pink; }
}


/* Ejemplo de BEM sin Anidar */
.header{
    color:black;
}
.header__h1{
    color:pink;
}
.header__nav{
    color:red;
}

/* Ejemplo de BEM con Anidación */
.header{
    color:black;

    .header__h1{
        color:pink;
    }
    .header__nav{
        color:red;
    }
}


/* Ejemplo de BEM con Anidación y Selector & */
.header{
    color:black;

    &__h1{
        color:pink;
    }
    &__nav{
        color:red;
    }
}
