html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.wrapper {
	width: 30rem;
	height: 24rem;
	border: 2px solid #ccc;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin: 2.5rem;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 1em;
	font-size: 150%;
	height: 6rem;
	width: 6rem;
	margin: auto 0;
}
.item1, .item4 { justify-self: start; }  
.item2, .item5 { justify-self: center; } 
.item3         { justify-self: end; }    